@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  /* Slate 900 - Dark theme base */
  color: #f8fafc;
  /* Slate 50 */
}

body {
  margin: 0;
  min-height: 100vh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}